/* *{
    margin: 0%;
    padding: 0%;
} */
body{
     /* width: 100vw; */
     height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
        margin: 0;
          overflow: hidden;
}
.container{
    background-color: #ebe5df;
    width: 40%;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center;
    text-align: center;
    margin:0%;
    padding-block-start:0%;
    scroll-padding-block-end: 0%;
    height: 50%;
    border-radius: 7px;
    font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Work Sans', sans-serif;
}
h1{
    margin-top: 0%;
    font-size: 1.5rem;
    font-weight: 700;
}
.otp{
    height: 5rem;
    width: 4rem;
    text-align: center;
    font-size: 3rem;
    align-items: center;
    margin-left: .2rem;
    margin-right: .2rem;
    border-radius: 5px;
}
.otpcontainer{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -moz-appearance: textfield;
}
.otp::-webkit-outer-spin-button,
.otp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.massage2{
    max-width: 50ch;
    text-align: center;
    background-color: rgb(225, 227, 227);
    font-size: .8rem;
    color: #7a7676;
    font-weight: 300;
}
.massage1{
    font-size: .7rem;
    font-weight: 900;
}
.otp:valid{
border: 3px solid rgb(125, 125, 230);
}